@import '../comon';
@import '../default';
@import '../footer';

.header_content {
    justify-content: center;
}
.header_content_img > a > img{
    width: 15.2rem;
    min-height: 6.7rem;
}
.main_a{
    display: flex;
    flex: 1 1 auto;
    margin-top: -11rem;
    position: relative;
    width: 100%;
    background: url('../../images/main_page/back.webp') 50% 0rem no-repeat;
    background-size: cover;
}
.main_a_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_a_content_form {
    width: 61.7rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.6rem 8.6rem;
}
.form_h {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.7rem;
    margin-bottom: 2.8rem;
}
.form_input {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #696969;
    background: rgb(0, 0, 0, 0);
    width: 44.4rem;
    padding: 0.6rem 1rem;
    outline: none;
    border-bottom: 0.1rem solid #000000;
}
.form_input:not(:last-child) {
    margin-bottom: 3.8rem;
}
.form_button {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    background: #849464;
    border-radius: 2.4rem;
    padding: 1.5rem 3.6rem;
    color: #FFF;
    cursor: pointer;
}
.form_button:hover{
    background: #64774A;
}