.header {
    padding: 0rem 2rem;
    opacity: 0.7;
    background: #FFFFFF;
    z-index: 10;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.header_container {
    position: relative;
    width: 100%;
    max-height: 10rem;
    padding: 1.7rem 0rem;
}
.header_content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.header_conten_img {
    position: relative;
}
.header_conten_img > img{
    width: 15.2rem;
    min-height: 6.7rem;
}
.header_content_buttons {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.button{
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    cursor: pointer;
}
.button:not(:last-child){
    margin-right: 4.8rem;
}
.button:not(:last-child):hover{
    color: #839364;
    text-decoration: underline;
}
._support {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.8rem 2.5rem;
    background: #839364;
    border-radius: 1rem;
}
._support a{
    color: #FFFFFF;
}
._support:hover {
    background: #64774A;
}

.arrow{
    background: #fff;
    height: 0.2rem;
    width: 3rem;
    margin: 0rem 0rem 0rem 1.3rem;
    position: relative;
    cursor: pointer;
}
.arrow._rewers{
    transform: rotate(180deg);
    background: #000;
}
.arrow._rewers:before,
.arrow._rewers:after {
  background: #000;
  position: absolute;
}
.arrow:before,
.arrow:after {
  content: "";
  background: #fff;
  position: absolute;
  height: 0.2rem;
  width: 1rem;
}
.arrow:before {
  right: -0.1rem;
  bottom: -0.3rem;
  transform: rotate(-45deg);
}
.arrow:after {
  right: -0.1rem;
  top: -0.3rem;
  transform: rotate(45deg);
}