<div class="about">
    <div class="about_content _container">
        <p class="about_h">ХТО МИ?</p>
        <p class="about_text">
            "Сильна Нація" - це благодійна організація, яка була створена під час військової агресії зі сторони РФ,
            для підтримки України. Справжні патріоти з усієї країни об'єдналися заради спільної мети - надавати гуманітарну
            допомогу постраждалим громадянам, ресурсно та грошово підтримувати ЗСУ, допомагати українським підприємствам
            та прикласти всі зусилля для пришвидчення нашої перемоги, адже ми сильна нація.<br>
            <br>
            Благодійна організація "Сильна Нація" займається організацією збору та доставки харчових продуктів, засобів особистої 
            гігієни, важливих медикаментів для всіх потребуючих громадян та безпосередньою допомогою й забезпеченням усім необхідним 
            Збройні Сили України.<br>
            <br>
            Наша організація відкрита до комунікації та співпраці з будь-якими свідомими громадянами з України, та за її межами. 
            Ми будемо вдячні за будь яку інформаційну, грошову або фізичку допомогу, поширення інформації про організацію та 
            пропозиції по створенню сумісних проектів, інвестування та благодійним внескам.<br>
            <br>
            Разом ми переможемо!
        </p>
    </div>
</div>