<div class="achievement">
    <div class="achievement_content _container">
        <div class="achievement_h_box">
            <div class="achievement_h">НАШІ ДОСЯГНЕННЯ ЗА</div>
            <div class="achievement_time">146 ДНІВ 15:20:03</div>
        </div>
        <div class="achievement_box">
            <div class="achievement_item">
                <div class="achievement_item_num">1240</div>
                <div class="achievement_item_h">одиниць Збройної техніки</div>
            </div>
            <div class="achievement_item">
                <div class="achievement_item_num">5430</div>
                <div class="achievement_item_h">кілограм продуктів</div>
            </div>
            <div class="achievement_item">
                <div class="achievement_item_num">150 340</div>
                <div class="achievement_item_h">грн на підтримку зсу</div>
            </div>
            <div class="achievement_item">
                <div class="achievement_item_num">350</div>
                <div class="achievement_item_h">вантажівок з ліками</div>
            </div>
        </div>
    </div>
</div>