<div class="backdrop is-hidden" data-modal>
  <div class="modal-oblast" data-modal>
    <button data-modal-close>
      <svg class="modal__close-icon" width="16" height="16">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>

    <ul class="oblast__cards">
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <!-- <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li>
      <li class="oblast__card">
        <div class="thumb">
          <img
            class="thumb__img"
            src="/src/images/main_page/card1.jpg"
            alt="help_img"
          />
        </div>
        <p class="oblast__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          laborum, excepturi vero unde necessitatibus quas nisi. Asperiores sed
          error a quis, accusantium itaque ut earum. Vel alias repudiandae omnis
          nostrum!
        </p>
        <div class="oblast__wrapper-link">
          <a href="https://facebook.com/sylnanacia" class="oblast__link"
            >facebook.com/sylnanacia</a
          >
          <p class="oblast__date">13.09.2022</p>
        </div>
      </li> -->
    </ul>
  </div>
</div>
