<div class="slider">
    <div class="slider_item">
        <img src='images/main_page/1.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/2.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/3.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/4.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/5.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/6.png' alt="Фото">
    </div>
</div>

<div class="slider2" dir="rtl">
    <div class="slider_item">
        <img src='images/main_page/7.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/8.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/9.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/10.png' alt="Фото">
    </div>
    <div class="slider_item">
        <img src='images/main_page/11.png' alt="Фото">
    </div>
</div>