.map {
    position: relative;
    width: 100%;
    padding: 11rem 2rem 20rem 2rem;
    background: url('../../images/main_page/back.webp') 50% 0rem no-repeat;
    background-size: cover;
}
.map_content {
    position: relative;
    width: 100%;
    padding: 11rem 0rem 6rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map_content_circles {
    position: absolute;
    z-index: 0;
    width: 110.9rem;
    min-height: 75.5rem;
}
.Ukraine{
    width: 110.9rem;
    min-height: 75.5rem;
}
/* --СIRCLES----СIRCLES----СIRCLES----СIRCLES-- */

/* --BIG----BIG----BIG-- */
.circles_item_big {
    animation: circle3 8s infinite ease;
    position: absolute;
    width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #849464a1;
    border: #fff solid 0.1rem;
    border-radius: 50%;
}
.item_number_big {
    color: #fff;
    font-weight: 400;
    font-size: 7rem;
    margin-bottom: 1.5rem;
    position: relative;
}
.item_number_big > span{
    font-size: 5rem;
}
.item_name_big {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    position: relative;
    text-transform: uppercase;
}
/* --BIG----BIG----BIG-- */

/* --MIDLE----MIDLE----MIDLE-- */
.circles_item_midle {
    animation: circle2 12s infinite ease;
    position: absolute;
    width: 15rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #849464a1;
    border: #fff solid 0.1rem;
    border-radius: 50%;
}
.item_number_midle {
    color: #fff;
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 1rem;
    position: relative;
}
.item_number_midle > span{
    font-size: 3rem;
}
.item_name_midle {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    position: relative;
    text-transform: uppercase;
}
/* --MIDLE----MIDLE----MIDLE-- */

/* --SMALL----SMALL----SMALL-- */
.circles_item_small {
    animation: circle 10s infinite ease;
    position: absolute;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #849464a1;
    border: #fff solid 0.1rem;
    border-radius: 50%;
}
.item_number_small {
    color: #fff;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0.2rem;
    position: relative;
}
.item_number_small > span{
    font-size: 2rem;
}
.item_name_small {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    position: relative;
    text-transform: uppercase;
}
/* --SMALL----SMALL----SMALL-- */
@keyframes circle {
    0% {
        transform: translateX(0rem ) translateY(0rem);
    }
    30% {
        transform: translateX(-0.5rem) translateY(-0.7rem);
    }
    60% {
        transform: translateX(-0.2rem) translateY(1rem);
    }
    90% {
        transform: translateX(0.3rem) translateY(0.2rem);
    }
    100% {
        transform: translateX(0rem) translateY(0rem);
    }
}

@keyframes circle2 {
    0% {
        transform: translateX(0rem ) translateY(0rem);
    }
    20% {
        transform: translateX(0.3rem) translateY(0.2rem);
    }
    40% {
        transform: translateX(-0.2rem) translateY(1rem);
    }
    60% {
        transform: translateX(-0.5rem) translateY(-0.7rem);
    }
    80% {
        transform: translateX(0.4rem) translateY(0.1rem);
    }
    100% {
        transform: translateX(0rem) translateY(0rem);
    }
}

@keyframes circle3 {
    0% {
        transform: translateX(0rem) translateY(0rem);
    }
    10% {
        transform: translateX(0.3rem) translateY(-0.2rem);
    }
    50% {
        transform: translateX(-0.2rem) translateY(-0.7rem);
    }
    70% {
        transform: translateX(-0.5rem) translateY(0.4rem);
    }
    100% {
        transform: translateX(0rem) translateY(0rem);
    }
}
/* --СIRCLES----СIRCLES----СIRCLES----СIRCLES-- */
.map_content_counry {
    width: 100%;
}
.Ukraine {
    z-index: 2;
}

.Ukraine text{
    text-anchor: middle;
    font-size: 12px;
    font-weight: 200;
    fill: white;
    cursor: pointer;
}