.slider {
    position: relative;
    margin-top: -20rem;
    padding-bottom: 2.5rem;
    background: linear-gradient(#ffffff00, white);
}
.slider2 {
    position: relative;
    padding-bottom: 7.5rem;
    background-color: #fff;
}
.slider_item {
    margin: 0rem 1rem;
}
.slider_item > img{
    width: 27.2rem;
    min-height: 16.7rem;
}

/* Ограничивающая оболочка */
.slick-list {
    width: 115%;
    margin-left: -14rem;
    overflow: hidden;
}
.slider2 .slick-list{
    width: 115%;
    margin-right: -14rem;
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}