@import '../comon';
@import '../default';
@import '../header';
@import '../footer';

.main_p{
    flex: 1 1 auto;
}
.pidtrimka {
    position: relative;
    width: 100%;
}
.pidtrimka_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pidtrimka_h {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    margin: 6rem 0rem;
    text-transform: uppercase;
}
.pidtrimka_item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.pidtrimka_item_info {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
}
.pidtrimka_item_qrcode {
    position: relative;
}
.pidtrimka_item_qrcode > img{
    width: 8.4rem;
    min-height: 8.4rem;
}
.pidtrimka_item_info_h {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #000000;
    text-transform: uppercase;
}
.pidtrimka_hl {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    text-align: start;
    margin-bottom: 3rem;
    text-transform: uppercase;
    align-self: flex-start;
}
